# Put this file in /etc/systemd/system/
# Activate with sudo systemctl enable multiplexer.service

[Unit]
Description=NMEA-Seatalk-Multiplexer
Wants=network-online.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 main_file.py
WorkingDirectory=/home/pi/nmea_seatalk_multiplexer
KillMode=control-group

[Install]
WantedBy=multi-user.target
